*{ box-sizing: border-box;}
.left-menu{
  background: var(--clr-Background);
  width: 20%;
  height: 100vh;
  text-align: center;
  color: aliceblue;
  display: inline-block;
  vertical-align: top;
}
.header{
  background-color: var(--clr-juno);
  width: 80%;
  padding: 1rem 0.5rem;
  display: inline-block;
  z-index: 100;
}
.left-side-header{
  display: flex;
  width: 95%;
  padding: 18px 5px;
  border-bottom: solid 2px #fff;
  margin: auto;
  
}
.left-nav-holder .nav-item{
padding: 6px 1px;
font-weight: bold;
}
.user-img{
  width: 20%;
  flex-flow: row;

}
.user-img img{
width: 2.5rem;
border-radius: 50%;
}
.left-side-header:nth-child(3){
  width: 60%;
  display: inline-block;
  border: solid 1px #444;
  flex-flow: row;
}
.left-side-header:nth-child(4){
  width: 20%;
  flex-flow: row;
}
.HD-TOP_Btn{
  padding-left: 10px;
}
.HD-TOP_Btn button{
  padding: 0.2rem 0.5rem;
  background-color:var(--clr-myBlue);
  color: white;
  border:none
}
.presentation{
  width: 85%;
  height: 2rem;
  margin: 1.5rem auto;
  background-color: var(--clr-juno);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: var(--clr-Background);
  text-align: left;
  padding-left: 1rem;
}
.left-logout-area{
  position: absolute;
  bottom: 1rem;
  border-top: solid 1px #fff;
  padding: 1rem;
  width: 17%;
  margin-left: 20px;
  cursor: pointer;
 
}

.dash-body{
  width: 80%;
  background:linear-gradient( var(--clr-Background) 1%,var(--clr-myBlue ),rgba(9, 234, 250, 0.507) );
  height: 88vh;
  position: absolute;
  top: 5rem;
  right: 0;
  text-align: center;
}
.dash-body h2{
  color: white;
  padding-top: 25%;
  text-align: center;
}

.dash-body button{
  height: 3rem;
  width: 4.5rem;
  font-size: 2rem;
  vertical-align: middle;
}
.logo-holder{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 3rem;
  
}
.logo-holder img{
width: 100%;
}
.top-nav-holder{
display: inline-block;
position: relative;
right: 0;
text-align: right;
vertical-align: middle;
width:92%;
}
.top-nav-holder ul{
list-style: none;
padding: 0.5rem;
  }
.top-nav-holder i{
  color: rgb(75, 65, 65);
  
}
.top-nav-holder ul li{
  display: inline-block;
  padding: 0.5rem;
  background-color: var(--clr-white);
  margin-left: 0.7rem;
  border-radius: 50%;
  cursor: pointer;

}